<a href="https://colab.research.google.com/github/Rain1618/Global-Health-Hack/blob/main/Data_prep_(raina).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [113]:
import pandas as pd
import numpy as np

raw = pd.read_csv("/content/data (1).csv")
raw.head()

,"Countries, territories and areas",2019,2018,2017,2016,2015
0,Afghanistan,6.0 [3.4-9.9],5.9 [3.4-9.8],6.0 [3.4-9.9],6.0 [3.5-9.9],6.0 [3.5-9.9]
1,Albania,3.7 [2.1-5.7],3.9 [2.2-6.0],4.1 [2.3-6.3],4.2 [2.3-6.3],4.2 [2.3-6.4]
2,Algeria,2.6 [1.4-4.4],2.6 [1.4-4.4],2.5 [1.4-4.4],2.6 [1.4-4.5],2.7 [1.5-4.7]
3,Angola,12.6 [7.7-19.4],12.4 [7.6-19.0],12.4 [7.6-18.9],12.9 [8.0-19.6],13.3 [8.3-20.1]
4,Antigua and Barbuda,0.3 [0.2-0.5],0.3 [0.2-0.5],0.0 [0.0-0.0],0.5 [0.3-0.7],0.4 [0.3-0.6]

In [114]:
def clean_suicide(raw):
  df = pd.melt(raw, id_vars=['Countries, territories and areas'], var_name='Year', value_name='Suicide rate')
  df['Country'] = df['Countries, territories and areas'] + ', ' + df['Year']


  # drop the original 'Country' and 'Year' columns
  df = df.drop(['Countries, territories and areas', 'Year'], axis=1)

  # rearrange the columns as needed
  df = df[['Country', 'Suicide rate']]

  #Clean up suicide rates
  df['Suicide rate'] = df['Suicide rate'].apply(lambda x: x.split(' ')[0])
  return df

df = clean_suicide(raw)
df

                                      Country Suicide rate
0                           Afghanistan, 2019          6.0
1                               Albania, 2019          3.7
2                               Algeria, 2019          2.6
3                                Angola, 2019         12.6
4                   Antigua and Barbuda, 2019          0.3
..                                        ...          ...
910  Venezuela (Bolivarian Republic of), 2015          2.4
911                            Viet Nam, 2015          7.6
912                               Yemen, 2015          6.8
913                              Zambia, 2015         17.3
914                            Zimbabwe, 2015         30.7

[915 rows x 2 columns]

In [115]:
#Merge all happiness 

def clean_happiness(file, year):
  happy = pd.read_csv(file)
  happy = happy.drop(['Happiness Rank', 'Region', 'Dystopia Residual'], axis = 1)

  happy['Country'] = happy['Country'] + ',' + f' {year}'
  return happy

h1 = clean_happiness("/content/2015.csv", 2015)
h2 = clean_happiness("/content/2016.csv", 2016)
h3 = clean_happiness("/content/2017.csv", 2017)
h4 = clean_happiness("/content/2018.csv", 2018)
h5 = clean_happiness("/content/2019.csv", 2019)

happy = pd.concat([h1, h2, h3, h4, h5])

merged_df = pd.merge(df, happy, on='Country', how='left')
merged_df

,Country,Suicide rate,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Trust
0,"Afghanistan, 2019",6.0,3.203,0.35000,0.51700,0.36100,0.00000,0.02500,0.15800,NaN
1,"Albania, 2019",3.7,4.719,0.94700,0.84800,0.87400,0.38300,0.02700,0.17800,NaN
2,"Algeria, 2019",2.6,5.211,1.00200,1.16000,0.78500,0.08600,0.11400,0.07300,NaN
3,"Angola, 2019",12.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Antigua and Barbuda, 2019",0.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
910,"Venezuela (Bolivarian Republic of), 2015",2.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
911,"Viet Nam, 2015",7.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
912,"Yemen, 2015",6.8,4.077,0.54649,0.68093,0.40064,0.35571,0.07854,0.09131,NaN
913,"Zambia, 2015",17.3,5.129,0.47038,0.91612,0.29924,0.48827,0.12468,0.19591,NaN
914,"Zimbabwe, 2015",30.7,4.610,0.27100,1.03276,0.33475,0.25861,0.08079,0.18987,NaN

In [116]:
#Merge Brenda
b = pd.read_csv("/content/HDI-GDP.csv")
b = b.drop(['Suicide rate'], axis =1)
b.head()

                     Country    HDI           GDP
0          Afghanistan, 2019  0.488    596.476537
1              Albania, 2019  0.810   3956.802538
2              Algeria, 2019  0.748   4201.421361
3               Angola, 2019  0.595   3104.830685
4  Antigua and Barbuda, 2019  0.800  14865.882710

In [117]:
merged_brenda = pd.merge(merged_df, b, on='Country', how='left')
merged_brenda

,Country,Suicide rate,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Trust,HDI,GDP
0,"Afghanistan, 2019",6.0,3.203,0.35000,0.51700,0.36100,0.00000,0.02500,0.15800,NaN,0.488,596.476537
1,"Albania, 2019",3.7,4.719,0.94700,0.84800,0.87400,0.38300,0.02700,0.17800,NaN,0.810,3956.802538
2,"Algeria, 2019",2.6,5.211,1.00200,1.16000,0.78500,0.08600,0.11400,0.07300,NaN,0.748,4201.421361
3,"Angola, 2019",12.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.595,3104.830685
4,"Antigua and Barbuda, 2019",0.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.800,14865.882710
...,...,...,...,...,...,...,...,...,...,...,...,...
910,"Venezuela (Bolivarian Republic of), 2015",2.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
911,"Viet Nam, 2015",7.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
912,"Yemen, 2015",6.8,4.077,0.54649,0.68093,0.40064,0.35571,0.07854,0.09131,NaN,0.477,NaN
913,"Zambia, 2015",17.3,5.129,0.47038,0.91612,0.29924,0.48827,0.12468,0.19591,NaN,0.562,1307.909649
914,"Zimbabwe, 2015",30.7,4.610,0.27100,1.03276,0.33475,0.25861,0.08079,0.18987,NaN,0.582,1410.329174

In [118]:
#Merge Haiqi

den = pd.read_csv('density.csv')
cols = ['Country Code','Indicator Name','Indicator Code','Unnamed: 67']
den = den.drop(columns=cols)

df = den.melt(id_vars=['Country Name'], var_name='Year', value_name='Population Density')

df['Year'] = df['Year'].astype(int)
df = df.drop(df[(df['Year'] > 2019) | (df['Year'] < 2015)].index)

df = df.rename(columns={'Country Name':'Country'})

df = df.reset_index()
df = df.drop(['index'], axis = 1)
df

                          Country  Year  Population Density
0                           Aruba  2015          579.205556
1     Africa Eastern and Southern  2015           40.417819
2                     Afghanistan  2015           51.750915
3      Africa Western and Central  2015           45.180225
4                          Angola  2015           22.561740
...                           ...   ...                 ...
1325                       Kosovo  2019                 NaN
1326                  Yemen, Rep.  2019           59.750916
1327                 South Africa  2019           47.883549
1328                       Zambia  2019           24.725214
1329                     Zimbabwe  2019           39.691374

[1330 rows x 3 columns]

In [119]:
df['Year'] = df['Year'].astype(str)
df['Country'] = df['Country'] + ', ' + (df['Year'])
df = df.drop(['Year'], axis = 1)
df.head()

                             Country  Population Density
0                        Aruba, 2015          579.205556
1  Africa Eastern and Southern, 2015           40.417819
2                  Afghanistan, 2015           51.750915
3   Africa Western and Central, 2015           45.180225
4                       Angola, 2015           22.561740

In [124]:
merged_haiqi = pd.merge(merged_brenda, df, on='Country', how='left')
merged_haiqi = merged_haiqi.drop(['Freedom', 'Trust', 'Generosity', 'Economy (GDP per Capita)'], axis =1)
merged_haiqi

,Country,Suicide rate,Happiness Score,Family,Health (Life Expectancy),Trust (Government Corruption),HDI,GDP,Population Density
0,"Afghanistan, 2019",6.0,3.203,0.51700,0.36100,0.02500,0.488,596.476537,57.908252
1,"Albania, 2019",3.7,4.719,0.84800,0.87400,0.02700,0.810,3956.802538,104.167555
2,"Algeria, 2019",2.6,5.211,1.16000,0.78500,0.11400,0.748,4201.421361,17.930316
3,"Angola, 2019",12.6,NaN,NaN,NaN,NaN,0.595,3104.830685,25.951382
4,"Antigua and Barbuda, 2019",0.3,NaN,NaN,NaN,NaN,0.800,14865.882710,209.356818
...,...,...,...,...,...,...,...,...,...
910,"Venezuela (Bolivarian Republic of), 2015",2.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
911,"Viet Nam, 2015",7.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
912,"Yemen, 2015",6.8,4.077,0.68093,0.40064,0.07854,0.477,NaN,NaN
913,"Zambia, 2015",17.3,5.129,0.91612,0.29924,0.12468,0.562,1307.909649,21.856939
914,"Zimbabwe, 2015",30.7,4.610,1.03276,0.33475,0.08079,0.582,1410.329174,36.590247

In [125]:
a = merged_haiqi.dropna()
a

,Country,Suicide rate,Happiness Score,Family,Health (Life Expectancy),Trust (Government Corruption),HDI,GDP,Population Density
0,"Afghanistan, 2019",6.0,3.203,0.51700,0.36100,0.02500,0.488,596.476537,57.908252
1,"Albania, 2019",3.7,4.719,0.84800,0.87400,0.02700,0.810,3956.802538,104.167555
2,"Algeria, 2019",2.6,5.211,1.16000,0.78500,0.11400,0.748,4201.421361,17.930316
5,"Argentina, 2019",8.1,6.086,1.43200,0.88100,0.05000,0.852,13793.060420,16.420827
6,"Armenia, 2019",2.7,4.559,1.05500,0.81500,0.06400,0.778,3670.141876,99.072778
...,...,...,...,...,...,...,...,...,...
903,"United Arab Emirates, 2015",5.3,6.901,1.12575,0.80925,0.38583,0.865,41525.138900,125.554759
907,"Uruguay, 2015",16.7,6.485,1.20890,0.81160,0.24558,0.811,15655.937000,19.442452
908,"Uzbekistan, 2015",9.2,6.003,1.34043,0.59772,0.30826,0.701,2753.971072,71.036995
913,"Zambia, 2015",17.3,5.129,0.91612,0.29924,0.12468,0.562,1307.909649,21.856939
914,"Zimbabwe, 2015",30.7,4.610,1.03276,0.33475,0.08079,0.582,1410.329174,36.590247

In [127]:
from google.colab import files
a.to_csv('output1.csv', encoding = 'utf-8-sig') 
files.download('output1.csv')

In [ ]:
#Merge Angela
b = pd.read_csv("/content/gender_age_suicides_no.csv")
b.drop(['suicides_no', 'AgeCategory', 'sex'])
b = b.rename(columns={"country": "Country"})
b.head()

In [67]:
#Pretty visualizations!
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

import plotly.graph_objects as go

# Create a pivot table to aggregate the suicide rates by country and year
# pivot_table = pd.pivot_table(raw)

# # Sort the pivot table by the mean suicide rate over the 5 years
# sorted_table = pivot_table.mean(axis=1).sort_values()
pivot_table = raw
# Create the heatmap using Plotly
fig = go.Figure(data=go.Heatmap(
        z=pivot_table.values,
        x=pivot_table.columns,
        y=pivot_table.index,
        colorscale='YlGnBu',
        colorbar=dict(title='Suicide rate'),
))

fig.update_layout(
    title='Suicide rates by country and year',
    xaxis_title='Year',
    yaxis_title='Country',
)

fig.show()